bpy==3.6.0
clip==0.2.0
dearpygui==1.10.1
imageio==2.31.6
lpips==0.1.4
mathutils==3.3.0
matplotlib==3.8.0
numpy==1.26.1
packaging==23.2
pandas==2.1.1
rich==13.6.0
scipy==1.11.3
setuptools==59.6.0
tensorboardX==2.6.2.2
torch==2.1.0
torch_ema==0.3
torchvision==0.16.0
tqdm==4.66.1
trimesh==4.0.1
opencv-python
pipreqs
PyMCubes
raymarching
Ninja
dijkstra3d
connected-components-3d
